<ion-header>
  <ion-navbar>
    <ion-title>
      IonicBoom
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-tabs>
      <ion-tab tabIcon="ios-people" tabTitle="Utilisateurs" [root]="listUsers"></ion-tab>
      <ion-tab [show]="isAuth" tabIcon="ios-person" tabTitle="Moi" [root]="singleUser"></ion-tab>
      <ion-tab tabIcon="ios-cog" tabTitle="Options" [root]="options"></ion-tab>
  </ion-tabs>
</ion-content>
