<ion-content>
  <ion-searchbar [(ngModel)] = "searchTerm" (ngModelChange) = "search()"></ion-searchbar>
  <ion-item>
    <ion-label>Utilisateurs connectés</ion-label>
    <ion-toggle [(ngModel)]="usersConnect" (ngModelChange)="onToggleChanged()" color="secondary" checked="false"></ion-toggle>
  </ion-item>
  <ion-list>
    <ion-item-sliding *ngFor="let user of userListFilter; let i = index;">
      <ion-item>
        <ion-avatar item-start>
          <img src="../../assets/imgs/logo.png">
        </ion-avatar>
        <h2>{{user.name}}</h2>
        <h3>{{user.mail}}</h3>
        <p>Score : {{user.score}} points</p>
        <ion-note *ngIf="user.connected" item-end><ion-icon color="secondary" name="ios-checkmark-circle"></ion-icon></ion-note>
        <ion-note *ngIf="!user.connected" item-end><ion-icon name="ios-checkmark-circle"></ion-icon></ion-note>
      </ion-item>
      <ion-item-options side="right">
        <button (click)="onSingleUser(i)" ion-button color="primary">
          <ion-icon name="ios-person"></ion-icon>
          Voir
        </button>
        <button ion-button color="danger">
          <ion-icon name="ios-bug"></ion-icon>
          Bomber
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>