single-user {

    .content-info{
        position: relative;
    }
    .content-info > img{
        display: inline-block;
    }
    .content-info > div{
        display: inline-block;
        position: absolute;
        margin-top: 12px;
        margin-left: 15px;
    }
    .content-info p{
        font-size: 14px;
        margin: 10px 0;
    }
    h4{
        font-size: 15px;
        text-transform: uppercase;
        opacity: 0.6;
        margin-bottom: 0px;
    }
    .score{
        text-align: center;
    }
    .range{
        padding: 10px 25px;
    }
    .strong{
        font-weight: 800;
    }
    ion-icon {
        font-size: 2em !important; //Preferred size here
    }
    agm-map {
        height: 280px;
      }

}
