<ion-content>
    <agm-map [latitude]="latitude"
        [longitude]="longitude">
    <agm-marker *ngIf="marker"
            [latitude]="marker.latitude"
            [longitude]="marker.longitude"
            [markerDraggable]="false"></agm-marker>
    </agm-map>
    <div class="content-info" padding>
        <img width="120px" height="120px" src="../../assets/imgs/logo.png">
        <div class="text">
            <h4>Nom et prénom</h4>
            <p>{{currentUser.name}}</p>
            <h4>Adresse mail</h4>
            <p>{{currentUser.mail}}</p>
        </div>
    </div>
    <h4 class="score">Score actuel : <span class="strong">{{currentUser.score}}</span></h4>
    <ion-range class="range" [(ngModel)]="score" disabled>
            <ion-icon large range-left small name="ios-walk"></ion-icon>
            <ion-icon range-right small name="jet"></ion-icon>
    </ion-range>
</ion-content>
