<ion-header>
    <ion-toolbar>
      <ion-title>
        Inscription
      </ion-title>
      <ion-buttons start>
        <button ion-button (click)="dismiss()">
          <span ion-text color="primary" showWhen="ios">Cancel</span>
          <ion-icon name="md-close" showWhen="android, windows"></ion-icon>
        </button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content padding>
    <form [formGroup]="authForm">
        <ion-list>
          <ion-row>
            <ion-col><ion-item>
              <ion-label floating>Nom</ion-label>
              <ion-input formControlName="nom" type="text"></ion-input>
            </ion-item></ion-col>
            <ion-col><ion-item>
              <ion-label floating>Prénom</ion-label>
              <ion-input formControlName="prenom" type="text"></ion-input>
            </ion-item></ion-col>
          </ion-row>
          <ion-item>
            <ion-label floating>Email</ion-label>
            <ion-input formControlName="email" type="email"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label floating>Password</ion-label>
            <ion-input formControlName="password" type="password"></ion-input>
          </ion-item>
        </ion-list>
        <button (click)="onSignUp()" ion-button full color="secondary">Inscription</button>
    </form>
  </ion-content>