<ion-header>
    <ion-toolbar>
      <ion-title>
        Description
      </ion-title>
      <ion-buttons start>
        <button ion-button (click)="dismiss()">
          <span ion-text color="primary" showWhen="ios">Cancel</span>
          <ion-icon name="md-close" showWhen="android, windows"></ion-icon>
        </button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content>
    <ion-slides pager>
      <ion-slide>
        <agm-map [latitude]="userList[positionSelectUser].latitude"
                [longitude]="userList[positionSelectUser].longitude">
        <agm-marker
                    [latitude]="userList[positionSelectUser].latitude"
                    [longitude]="userList[positionSelectUser].longitude"
                    [markerDraggable]="false"></agm-marker>
        </agm-map>
        <div padding>
          <div class="content-info">
            <img width="120px" height="120px" src="../../assets/imgs/logo.png">
            <div class="text">
                <h4>Nom et prénom</h4>
                <p>{{userList[positionSelectUser].name}}</p>
                <h4>Adresse mail</h4>
                <p>{{userList[positionSelectUser].mail}}</p>
            </div>
          </div>
          <ion-grid margin-bottom>
            <ion-row>
              <ion-col class="status"><h4>Status : </h4>
                <ion-icon *ngIf="userList[positionSelectUser].connected" color="secondary" name="ios-checkmark-circle"></ion-icon>
                <ion-icon *ngIf="!userList[positionSelectUser].connected" style="opacity: 0.4;" name="ios-checkmark-circle"></ion-icon>
              </ion-col>
              <ion-col><h4 class="score">Score actuel : <span class="strong">{{userList[positionSelectUser].score}}</span></h4></ion-col>
            </ion-row>
          </ion-grid>
          <button (click)="onBombed()" color="danger" ion-button full>Envoyer une bombe</button>
        </div>
      </ion-slide>
      <div *ngFor="let user of userList; let i = index;">
        <ion-slide *ngIf="i!=positionSelectUser">
                  <agm-map [latitude]="user.latitude"
                [longitude]="user.longitude">
        <agm-marker
                    [latitude]="user.latitude"
                    [longitude]="user.longitude"
                    [markerDraggable]="false"></agm-marker>
        </agm-map>
          <div padding>
            <div class="content-info">
              <img width="120px" height="120px" src="../../assets/imgs/logo.png">
              <div class="text">
                  <h4>Nom et prénom</h4>
                  <p>{{user.name}}</p>
                  <h4>Adresse mail</h4>
                  <p>{{user.mail}}</p>
              </div>
            </div>
            <ion-grid margin-bottom>
              <ion-row>
                <ion-col class="status"><h4>Status : </h4>
                  <ion-icon *ngIf="user.connected" color="secondary" name="ios-checkmark-circle"></ion-icon>
                  <ion-icon *ngIf="!user.connected" style="opacity: 0.4;" name="ios-checkmark-circle"></ion-icon>
                </ion-col>
                <ion-col><h4 class="score">Score actuel : <span class="strong">{{user.score}}</span></h4></ion-col>
              </ion-row>
            </ion-grid>
            <button color="danger" ion-button full>Envoyer une bombe</button>
          </div>
        </ion-slide>
      </div>
    </ion-slides>
</ion-content>
