page-modal-users-slide {
    .content-info{
        position: relative;
        text-align: left;
        margin-bottom: 0.5em;
    }
    .content-info > img{
        display: inline-block;
        height: 120px;
        width: 120px;
    }
    .content-info > div{
        display: inline-block;
        position: absolute;
        margin-top: 12px;
        margin-left: 15px;
    }
    .content-info p{
        font-size: 14px;
        margin: 10px 0;
    }
    h4{
        font-size: 15px;
        text-transform: uppercase;
        opacity: 0.6;
        margin-bottom: 0px;
    }
    .score{
        text-align: center;
        margin-top: 0.2em !important;
        margin-left: -2em;
    }
    .range{
        padding: 10px 25px;
    }
    .strong{
        font-weight: 800;
    }
    ion-icon {
        font-size: 1.5em !important; //Preferred size here
    }
    ion-slide{
        align-items: baseline !important;
    }
    .status > h4{
        display: inline-block;
        margin-left: -2em;
    }
    .status > ion-icon{
        position: absolute;
        font-size: 1.3em !important;
        margin: 1px 6px;
    }
    agm-map {
        height: 280px;
      }
}
