<ion-content padding>
  <h4>Connexion</h4>
    <form [formGroup]="authForm" *ngIf="!isAuth">
      <ion-list>
        <ion-item>
          <ion-label floating>Email</ion-label>
          <ion-input formControlName="email" type="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Password</ion-label>
          <ion-input formControlName="password" type="password"></ion-input>
        </ion-item>
      </ion-list>
      <ion-row>
        <ion-col><button (click)="onSignIn()" ion-button full color="primary">Connexion</button></ion-col>
        <ion-col><button full ion-button icon-start color="light"><ion-icon color="danger" name="logo-google"></ion-icon>Google</button></ion-col>
      </ion-row>
      <button (click)="onSignUp()" ion-button full color="secondary">Inscription</button>
    </form>
    <button (click)="onSignOut()" *ngIf="isAuth" ion-button full color="danger">Déconnexion</button>
</ion-content>
